/* MEDIA QUERIES */
@media screen and (max-width: 1025px) {

    .img-masthead{
      width: 230px;
      height: 230px;
    }
  
    #rowMasthead .h-100{
      height: 60%!important;
    }
    
    .performance-title{
      padding: 1rem;
    }

    #presentation{
      margin-top: 2rem;
    }

    #output{
      padding-left: 0;
    }

    .question{
      display: none;
    }

    .answer{
      display: none;
    }

  }
  
  @media screen and (max-width: 764px) {
    .offcanvas-bottom{
      height: 40vh!important;
    }

    #footer, #footerDark{
      margin-bottom: 70px;
    }

    #whatsapp-widget{
      display: none;
    }

    #settings-wrapper{
      display: none;
    }

    .m-custom{
      margin: 50px 0px;
    }

    .coming-soon{
      width: 130px;
      height: 230px;
    }

    .section-subtitle{
      font-size: 16px;
    }

    .form-wrapper{
      width: 350px;
      min-height: 490px;
      padding: 34px;
    }

    ::-webkit-scrollbar{
      display: none;
    }
    
    ::-webkit-scrollbar-track{
      display: none;
    }
    
    ::-webkit-scrollbar-thumb{
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .m-custom{
      margin: 50px 0px;
    }

    .intro-card{
      min-height: 300px!important;
      padding: 10px!important;
    }

    .intro-card-responsive{
      min-height: 300px;
      padding-left: 10px!important;
      padding-right: 10px!important;
      padding-top: 10px!important;
    }

    .intro-card-responsive .img-fluid{
      width: 90%!important;
    }

    .integrations{
      min-height: 300px!important;
      padding: 0%;
    }

    .integrations .card-body h3{
      bottom: 10px;
    }

    .img-masthead{
      width: 200px;
      height: 200px;
    }

    .clean-code{
      font-size: 13px!important;
      text-align: left!important;
      padding: 0px 30px 30px 30px!important;
    }

    .question{
      display: none;
    }

    .answer{
      display: none;
    }

    .responsive{
      max-width: 95%!important;
      padding: 20px;
    }

    .performance{
      max-width: 90%!important;
    }

    .p-5{
      padding: 0rem!important;
    }

    .w-60, .w-40{
      width: 100%;
    }

    .wrapper{
      width: auto;
      height: auto;
    }

    .wrapper img{
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .img-animation:hover{
      transform: translate(0px, 0px)!important;
    }

    .mt-custom{
      margin-top: 100px!important;
    }

    .whatsapp{
      position: fixed;
      top: 15px;
      right: 15px;
      bottom: 0px;
      z-index: 1030;
      opacity: 0.5;
      height: 30px;
      width: 30px;
    }

  }

  @media screen and (max-width: 992px) and (orientation:landscape) {
    .masthead {
      height: auto;
    }
  }

  @media screen and (max-width: 361px) {
    .mini-logo{
      width: 80px;
    }
  }


  /* PORTRAIT ORIENTATION */
  @media screen and (orientation: landscape) and (max-width: 897px){
    .nav-bg-custom{
      padding-top: 0px!important;
      padding-bottom: 0px!important;
      transition: all 0.4s;
      /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
      background-color: #ffffff10;
      backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

  }


  @media screen and (orientation: landscape) and (width: 740px) and (height: 360px){
    #navbar-mobile{
      display: none!important;
    }

    #navbar-section{
      display: block!important;
    }  
  }

  @media screen and (orientation: landscape) and (width: 800px) and (height: 1024px){
    .img-masthead{
      width: 50%!important;
    }
  }

  @media screen and (orientation: landscape) and (max-width: 896px){
    .intro-card{
      min-height: 300px!important;
      padding: 10px!important;
    }

    .intro-card-responsive{
      min-height: 300px;
      padding-left: 10px!important;
      padding-right: 10px!important;
      padding-top: 10px!important;
    }

    .intro-card-responsive .img-fluid{
      width: 90%!important;
    }

    .integrations{
      min-height: 300px!important;
      padding: 0%;
    }

    .img-masthead{
      width: 50%;
    }

    .clean-code{
      font-size: 13px!important;
      text-align: left!important;
      padding: 0px 30px 30px 30px!important;
    }

    .question{
      display: none;
    }

    .answer{
      display: none;
    }

    .responsive{
      max-width: 95%!important;
      padding: 20px;
    }

    .p-5{
      padding: 0rem!important;
    }
  }
    
