@media(prefers-color-scheme: light){
  :root {
      --main-color: #252525;
      --footer-color: #252525;
      --white-color: #f5f5f5;
      --bright-white-color: white;
      --light-grey-color: #f5f5f7;
      --grey-color: #948d8d;
      --accent-color: rgb(232, 121, 2);
      --cool-color: #9d66e9;
  }
}

@media(prefers-color-scheme: dark){
  :root {
    --main-color: #f5f5f5;
    --footer-color: #1d1d1f;
    --white-color: #252525;
    --bright-white-color: #252525;
    --light-grey-color: #1d1d1f;
    --grey-color: #948d8d;
    --accent-color: rgb(255,130,0);
    --cool-color: #9d66e9;
  }
}

::-webkit-scrollbar{
  width: 13px;
  background-color: var(--light-grey-color);
  opacity: 20%;
}

::-webkit-scrollbar-thumb{
  background-color: var(--accent-color);
  border-radius: 100px;
  width: 20px;
  margin: 2px;
  transition: 0.2s ease-in;
  background-clip: content-box;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(223, 115, 0);
  transition: 0.2s ease-in;
}

/* GENERALI */
.tc-main{
    color: var(--main-color)!important;
}

.tc-white{
    color: var(--white-color)!important;
}

.tc-accent{
    color: var(--accent-color)!important;
}

.tc-grey{
  color: var(--grey-color)!important;
}

.tc-cool{
  color: var(--cool-color)!important;
}

.stroke-main{
  stroke: var(--main-color)!important;
}

body{
  background-color: var(--bright-white-color);
  color: var(--main-color);
}

a {
  text-decoration: none!important;
  color: inherit;
  font-family: 'Spartan', sans-serif !important;
}

a:hover{
  text-decoration: none;
  color: inherit;
  font-family: 'Spartan', sans-serif !important;
}


.mt-custom{
  margin-top: 230px;
}

.mt-custom-mobile{
  margin-top: 100px;
}

.m-custom{
  margin: 100px 0px;
}


/* FONTS */
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

*{
font-family: 'Spartan', sans-serif;
/* border: solid 1px red; */
}

.linear-wipe{
  animation: flow 10s ease infinite;
  background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
  background-size: 200% 200%;

  -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes flow{
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.text-justify{
text-align: justify;
}


/* BACKGROUNDS */
.bg-main{
    background-color: var(--main-color);
}

.bg-dark-footer{
  background-color: var(--footer-color);
  color: white;
}

.bg-second{
    background-color: var(--light-grey-color);
}


/* NAVBAR */
.nav-bg-custom{
    background-color: transparent;
    transition: all 0.4s;
    padding: 50px;
}

.nav-bg-down{
  /* background-color: var(--main-color); */
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  transition: all 0.4s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #ffffff10;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.mini-logo {
  width: 90px;
  height: 90px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.mini-logo:hover, .mini-logo:focus, .mini-logo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--accent-color);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before, .current-page .nav-link:before {
  left: 0;
  right: 0;
  height: 4px;
}


/* MOBILE NAVBAR */
.nav-mobile{
  height: 70px;
  border-top: solid 5px rgba(182, 182, 182, 0.76);
  background-color: var(--bright-white-color);
  color: var(--main-color);
}

#navbar-mobile button{
  background-color: transparent;
  color: inherit;
  border: none;
}

.offcanvas{
  background-color: var(--bright-white-color)!important;
  color: var(--main-color)!important;
}

.offcanvas .btn-close{
  color: var(--main-color)!important;
}

/* HAMBURGER MENU */
 .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 50px;
}

.navbar-toggler:focus{
  box-shadow: none!important;
}

.line {
  fill: none;
  stroke: var(--white-color);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


/* MASTHEAD */
body , html{
  overflow-x: hidden!important;
}

.masthead{
  height: 100vh;
  min-height: 500px;
  background-color: transparent;
}

#imgMasthead{
  margin-top: 70px;
}

.btn-custom{
    background-color: var(--accent-color);
    border: dashed;
    border-color: var(--main-color);
    transition-duration: 0.4s;
}

.btn-custom:hover{
  color: var(--white-color);
  transition-duration: 0.4s;
}

.btn-custom2{
  background-color: white;
  border: dashed;
  border-color: var(--main-color);
  transition-duration: 0.4s;
}

.btn-custom2:hover{
  color: var(--accent-color);
  transition-duration: 0.4s;
}

.img-masthead{
  width: 330px;
  height: 330px;
}

.no-display{
  display: none!important;
}


  /* COSA SO FARE */
  .section-subtitle{
    color: var(--grey-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
  }

  .intro-card{
    padding: 64px!important;
    border: 1px solid hsla(0,0%, 51.4%, .16)!important;
    border-radius: 28px!important;
    background-color: var(--bright-white-color);
    min-height: 539px;
    display: flex;
    align-items: center;
  }

  .intro-card-responsive{
    padding-left: 64px!important;
    padding-right: 64px!important;
    padding-top: 64px!important;
    border: 1px solid hsla(0,0%, 51.4%, .16)!important;
    border-radius: 28px!important;
    background-color: var(--bright-white-color);
    min-height: 539px;
  }

  .responsive{
    z-index: 0;
    max-width: 90%!important;
  }

  .performance{
    border-radius: 28px!important;
    width: 678px;
  }

  .integrations{
    padding: 0 0 97px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--bright-white-color);
    border: 1px solid hsla(0,0%, 51.4%, .16)!important;
    border-radius: 28px!important;
    min-height: 539px;
    background-image: url('/media/integrations.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
  }

  .integrations .card-body h3{
    position: absolute;
    bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
  }

  .card-image-top{
    border-radius: 28px!important;
  }

  ul, ol, li{
    list-style-type: none!important;
  }

  .color-touch{
    animation: flow 15s ease-in-out infinite;
    background: linear-gradient(-60deg,  #9d66e9, rgb(255,130,0), #9d66e9);
    background-size: 300%;
  }


  /* CONTACT ME */
  .btn-outline-accent {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }

  .btn-outline-accent:hover {
    color: var(--main-color);
    background-color: var(--accent-color);
    border-color: var(--main-color);
  }

  .btn-outline-accent:focus{
    box-shadow: none;
  }

  .form-control:focus {
    border-color: var(--accent-color) !important;
    box-shadow:  0 0 0.25rem var(--accent-color)!important;
  }

  #contact-form{
    caret-color: var(--accent-color);
  }
  

  /* FOOTER */
  .border-custom{
    border-top: 3px solid var(--grey-color);
  }

  .powered{
    font-size: 13px;
    font-style: italic;
  }


  /* CHI SONO */
  .card-img-top{
    border-radius: 28px!important;
  }


  /* FAQ */
  .faq-border-question{
    border-left: var(--accent-color) solid 8px;
  }

  .faq-border-answer{
    border-left: var(--cool-color) solid 8px;
  }

  .accordion-button{
    color: var(--main-color) !important;
    background-color: var(--bright-white-color)!important;
  }

  .accordion-button:hover{
    background-color: var(--light-grey-color)!important;
    transition-duration: 0.2s!important;
  }

  .accordion-button:focus{
    box-shadow: none;
    border-color: var(--accent-color);
    background-color: var(--light-grey-color)!important;
  }

  .accordion-body{
    display: flex;
    align-items: center;
    background-color: var(--bright-white-color)!important;
    color: var(--main-color)!important;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: none!important;
    transform: rotate(-180deg);
  }

  .accordion-button .collapsed{
    background-image: none!important;
    transform: rotate(-180deg);
  }
  
  .accordion-button::after {
    background-image: none!important;
  }

  /* SERVIZI */
  #aboutCard span{
    color: var(--accent-color);
  }

  #serviceCard p{
    padding: 0px;
    margin: 0px;
  }

  #serviceCard span{
    color: var(--accent-color);
  }

  #about .title{
    display: block;
    font-weight: 500;
    color: var(--grey-color);
  }

  #about .subtitle{
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--main-color);
    font-style:italic;
    padding-bottom: 5px;
  }


  /* BLOG */
  .blog-img{
    width: 280px;
    height: auto;
  }

  .w-60{
    width: 60%;
  }
  
  .w-40{
    width: 40%;
  }

  .wrapper{
    background-color: var(--bright-white-color);
    border: 1px solid hsla(0,0%, 51.4%, .16)!important;
    border-radius: 28px!important;
    width: 750px;
    height: 300px;
  }

  .wrapper p{
    font-size: 14px;
  }

  .wrapper h3{
    font-size: 22px;
    font-weight: 700;
  }

  .wrapper .tag{
    font-size: 13px;
    background-color: var(--light-grey-color);
    border-radius: 100px;
    padding: 5px 10px;
    line-height: 20px;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    display: inline-block;
    white-space: nowrap;
  }

  .wrapper .tag:hover{
    transition: 0.2s ease-in-out;
    background-color: #d3d3d3;
  }


  /* PORTFOLIO */
  .portfolio-card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid hsla(0,0%, 51.4%, .16)!important;
    border-radius: 28px!important;
    height: 334px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .show-link{
    font-size: 23px;
    color: var(--accent-color);
    font-weight: 500;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  #francesca{
    background-image: url('/media/portfolio/francescamalcangi-small.webp');
  }

  #cariola{
    background-image: url('/media/portfolio/giuseppecariola-small.webp');
  }

  #diana{
    background-image: url('/media/portfolio/dianaluca-small.webp');
  }

  #presto{
    background-image: url('/media/portfolio/presto-small.webp');
  }

  #joysoft{
    background-image: url('/media/portfolio/joysoft-small.webp');
  }

  #wip{
    background-image: url('/media/portfolio/code-small.webp');
  }

  .portfolio-cta{
    background-color: var(--light-grey-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--grey-color);
    border: 1px solid hsla(0,0%, 51.4%, .16)!important;
    border-radius: 28px!important;
    height: 334px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .portfolio-cta:hover{
    color: var(--accent-color)!important;
    box-shadow: 0 20px 80px 0 rgb(0 0 0 / 30%);
    transition: 0.3s ease-in-out;
  }

  .portfolio-card:hover{
    box-shadow: 0 20px 80px 0 rgb(0 0 0 / 30%);
    transition: 0.3s ease-in-out;
  }


  body.modal-open{
    overflow: hidden;
    position:fixed;
    width: 100%;
  }

  .modal{
    border: transparent!important;
  }

  .modal .video{
    position: relative;
  }

  .modal .btn-close{
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: var(--accent-color);
    border-radius: 100px;
    padding: 7px;
  }

  .modal-backdrop{
    background-color: black!important;
    opacity: 0.9!important;
  }

  .modal .tag{
    font-size: 17px;
    line-height: 20px;
    white-space:pre-line;
    font-weight: 600;
    color: var(--accent-color);
  }

  .modal .title{
    font-size: 28px;
  }

  .modal .subtitle{
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 16px;
  }

  .modal .tech{
    font-size: 15px;
    background-color: var(--main-color);
    color: var(--bright-white-color);
    border-radius: 100px;
    padding: 5px 10px;
    line-height: 20px;
    display: inline-block;
    margin-top: 5px;
  }

  .coming-soon{
    width:193px;
    height:364px;
  }


  /* CONTACT FORM */
  .form-wrapper{
    height: 614px;
    width: 980px;
    padding: 64px;
    border: 1px solid hsla(0,0%, 51.4%, .16)!important;
    border-radius: 28px!important;
    background-color: var(--bright-white-color);
    display: table;
    font-weight: 500;
  }

  .textarea{
    background-color: var(--light-grey-color);
    border-radius: 18px;
    width: 100%;
    color: var(--main-color);
    outline: 2px solid hsla(0,0%, 51.4%, .16);
    border: 0px;
    resize: none;
    padding: 12px 30px;
  }

  .input-text{
    background-color: var(--light-grey-color);
    display: block;
    margin: 10px 0;
    border-radius: 18px;
    padding: 12px 30px;
    width: 100%;
    color: var(--main-color);
    outline: 2px solid hsla(0,0%, 51.4%, .16);
    border: 0px;
  }

  .input-group {
    background-color: var(--light-grey-color);
    display: block;
    margin: 10px 0;
    position: relative;
    border-radius: 18px!important;

  }

  .input-group label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: var(--main-color);
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: 0.1s ease-in;
    overflow: hidden;
    outline: 2px solid hsla(0,0%, 51.4%, .16);
    border-radius: 18px!important;
  }

  .input-tgroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    z-index: -1;
  }

  .input-group label:after {
    width: 32px;
    height: 32px;
    content: "";
    border: 2px solid #d1d7dc;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.1s ease-in;
  }

  .input-group input:checked ~ label:after {
    border: 2px solid var(--accent-color)!important;
    background-image: url('/media/checked.svg');
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    transition: 0.1s ease-in;
  }

  .input-group input:checked ~ label{
    outline: 2px solid var(--accent-color);
    transition: 0.1s ease-in;
  }

  .input-group input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    cursor: pointer;
    visibility: hidden;
  }
  
  .form {
    padding: 0 16px;
    max-width: 550px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
  }

  .small{
    font-size: 10px!important;
    font-weight: 400!important;
  }

  .previous{
    width: 130px;
    padding: 12px 30px 12px 30px;
    color: var(--light-grey-color);
    cursor: pointer;
    transition: 0.1s ease-in;
    outline: 2px solid hsla(0,0%, 51.4%, .16);
    border-radius: 18px!important;
    background-color: var(--grey-color);
    font-weight: 500;
  }

  .next{
    width: 130px;
    padding: 12px 30px 12px 30px;
    color: var(--bright-white-color);
    cursor: pointer;
    transition: 0.1s ease-in;
    outline: 2px solid hsla(0,0%, 51.4%, .16);
    border-radius: 18px!important;
    background-color: var(--accent-color);
    font-weight: 500;
  }

  .submit{
    width: 130px;
    padding: 12px 30px 12px 30px;
    color: var(--light-grey-color);
    cursor: pointer;
    transition: 0.1s ease-in;
    outline: 2px solid hsla(0,0%, 51.4%, .16);
    border-radius: 18px!important;
    background-color: var(--main-color);
    font-weight: 500;
    position: relative;
  }

  .submit:hover{
    color: var(--accent-color)!important;
  }

  .pointer{
    cursor: pointer;
  }

  
  /* WHATSAPP WIDGET */
  .whatsapp{
    position: fixed;
    align-items: right;
    bottom: 15px;
    right: 15px;
    z-index: 1030;
    height: 64px;
    width: 64px;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px;
    background-color: #0EC12F;
    border-radius: 50%;
    animation: pulse-green 2s infinite;
    animation-delay: 4s;
  }


  @keyframes pulse-green {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
  }


  /* SETTINGS */
  #settingsWrapper{
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .settings-wrap {
    position: fixed;
    left: 20px;
    top: auto;
    right: auto;
    bottom: 20px;
    z-index: 100;
    display: block;
    overflow: hidden;
  }
  
  .settings-handle {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 72px;
    height: 44px;
    padding: 12px 26px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-radius: 24px;
    background-color: hsla(0,0%,59.2%,.3);
    font-size: 14px;
    transition: 0.2s ease-in-out;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .settings-menu {
    margin-right: 18px;
    margin-bottom: 24px;
    margin-left: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: .5px solid hsla(0,0%,100%,.1);
    border-radius: 12px;
    background-color: rgba(255,255,255,.4);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    transition: 0.2s ease-in-out;
    color: black;
  }

  .settings-section-title{
    padding: 0px!important;
    margin-top: 5px!important;
    margin-bottom: 3px!important;
    font-weight: 700;
  }

  .setting-option{
    padding: 10px 20px 10px 20px;
  }

  .settings-selection{
    border: .5px solid hsla(0,0%,100%,.1);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.712);
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.33);
    transition: 0.1 ease-in-out;
  }

  .fa-xmark{
    position: absolute;
    left: 18px;
    top: 18px;
    right: auto;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 34px;
    height: 34px;
    padding: 10px 10px 10px 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: hsla(0,0%,60.7%,.5);
  }

  .lang-button{
    padding: 0;
    background-color: transparent;
    border: none;
  }


  /* LOADER */
  .fadein{
    animation: fadein 2s;
    -moz-animation:fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
  }