.wedding-font{
    font-family: 'Fleur De Leah', cursive;
    color: goldenrod;
}

.title-font{
    font-family: 'Raleway', sans-serif; 
}

.bg-blueflowers{
    position: absolute;
    top: 0px;
    max-width: 600px;
    z-index: -1;
    opacity: 0.8;
}

.bg-blueflowers2{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.8;
}

.bg-specialwhite{
    background-color: #fefefe !important ;
}

.body-height{
    min-height: 100vh;
}


/* MEDIA QUERIES */
@media screen and (max-width: 800px) {

    .bg-blueflowers{
        opacity: 0.3;
    }

    .bg-blueflowers2{
        opacity: 0.3;
    }
    
}


/* PORTFOLIO */

@import url("https://fonts.googleapis.com/css?family=Inconsolata|Merriweather");


button {
  cursor: pointer;
}

#portfolio {
  width: 80%;
  min-height: 450px;
  background: #ffffff;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: 100%;
  grid-gap: 2px;
}

.call-to-action{
  background-color: #d1b2aff1;
}

.cta-font{
  font-family: 'Fleur De Leah', cursive!important;
  color: #4D5D7E!important;
}

.cta-wedding{
  font-family: 'Fleur De Leah', cursive!important;
  color: goldenrod!important;
}

.tc-wedding{
  color: goldenrod!important;
}

.bg-wedding{
  background-color: rgba(229, 182, 177, 0.719);
}


/* MODALI */
.project {
  position: relative;
  background: #F2DAD7;
  overflow: hidden;
}

.project img {
  position: absolute;
  opacity: 0.9;
}

.project p {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 3;
}
.project .grid__title {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  bottom: 0;
  font-weight: 100;
  font-size: 0.8em;
  z-index: 3;
  text-transform: uppercase;
  color: #474545;
  letter-spacing: 2px;
}

.project:hover .grid__overlay {
  transform: translateY(0%);
}

.grid__overlay {
  background: rgba(229, 182, 177, 0.9);
  height: 100%;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.grid__overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}
.grid__overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  color: #D1A39E;
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  background: rgba(71, 69, 69, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 9999;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay__inner {
  background: #ffffff;
  width: 700px;
  padding: 20px;
  position: relative;
  opacity: 1;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: #474545;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 9999;
}
.close:hover {
  color: #D1A39E;
}

.project__image {
  width: 1200px;
  margin-left: -600px;
  margin-top: -50%;
}

.special{
  width: 1000px;
  margin-left: 0;
  margin-top: 0;
}

.special2{
  width: 1000px;
  margin-left: -100px;
  margin-top: 0;
}

.special3{
  width: 1000px;
  margin-left: -630px;
  margin-top: 0;
}


/* FORM MAIL */
.draw-border {
  box-shadow: inset 0 0 0 4px white;
  color: white;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

@media screen and (max-width:800px) {
  .draw-border{
    box-shadow: inset 0 0 0 4px goldenrod;
  }   
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: goldenrod;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: goldenrod;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.wedding-btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}

.wedding-btn:focus {
  outline: 2px dotted   #4D5D7E;
}

.wedding-form-control{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.wedding-form-control:focus {
  border-color: goldenrod !important;
  box-shadow:  0 0 0.25rem goldenrod!important;
}


/* ACCORDION */
.wedding-accordion {
	background: linear-gradient(to bottom right, white, #F8F8F8);
	max-width: 400px;
	background: white;
	margin: 0 auto;
}

.wedding-accordion-header {
	border: 1px solid #DDE0E7;
	color: #2a313a;
	cursor: pointer;
	font-weight: 700;
	padding: 1.5rem;
}


.wedding-accordion-content {
	display: none;
	border: 1px solid #DDE0E7;
	background: #d1a39e6b;
	padding: 1.5rem;
	color: #4a5666;
}

.wedding-accordion-header::before {
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: .75rem;
	height: .75rem;
	border-radius: 50%;
	background-color: #B1B5BE;
	margin-right: .75rem;
}

.active.wedding-accordion-header::before {
	background-color: goldenrod;
}


/* CTA WEDDING */
.wedding-link i {
  -webkit-animation: arrow-animation 1.5s;
  -moz-animation: arrow-animation 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.wedding-link i:first-child {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  margin-left: 5px;
  opacity: 0.15;
}
.wedding-link i + i {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  opacity: 0.5;
}
.wedding-link i + i + i {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  opacity: 1;
}
.wedding-link:hover {
  cursor: pointer;
  color: goldenrod;
  background-color: #fff;
}
.wedding-link:hover i {
  -webkit-animation: arrow-animation 2s;
  -moz-animation: arrow-animation 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes arrow-animation {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow-animation {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}